{{/* .chezmoi.toml.tmpl - Device configuration with prompts */}}

{{/* Device type selection - Y for work, anything else for personal */}}
{{- $response := promptStringOnce . "isWork" "Is this a work computer? (Y/n)" -}}
{{- $isWork := or (eq $response "Y") (eq $response "y") (eq $response "yes") (eq $response "Yes") -}}
{{- $deviceType := "personal" -}}
{{- if $isWork -}}
{{-   $deviceType = "work" -}}
{{- end -}}

{{/* Derive email from device type - no separate prompt */}}
{{- $email := "" -}}
{{- if eq $deviceType "work" -}}
{{-   $email = "jack@crossnokaye.com" -}}
{{- else -}}
{{-   $email = "code@jackhutson.com" -}}
{{- end -}}

[data]
    deviceType = {{ $deviceType | quote }}
    email = {{ $email | quote }}
    hostname = {{ .chezmoi.hostname | quote }}
    isWork = {{ eq $deviceType "work" }}

[onepassword]
    prompt = true

[add]
    secrets = "error"
